.navbar{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  justify-content: space-around;
  min-height:3em;
  background-color: #aaa;
  -webkit-flex:1 1 10%;
  -webkit-order: 1;
  order: 1;
}
      
.navButton{
  padding: 0.5em;
  margin: 3px;
  display: block;
  background: #555;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  vertical-align:middle;
  
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
    
.navButton:hover{
  background: #BB00FF;
}
    
.navButton:active{
  background: #9922EE;
}
    
.TestWorkspace{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: line wrap;

  -webkit-flex: 6 1 90%;
  flex: 5 1 80%;
  -webkit-order: 2;
  order: 2;
}



#editor{
    -webkit-flex: 5 1 80%;
  flex: 5 1 80%;
  -webkit-order: 2;
  order: 2;
}

.test-list{
    -webkit-flex: 1 1 20%;
  flex: 1 1 20%;
  -webkit-order: 2;
  order: 2;
}

.navButton input{
  display: none !important;
  width: 100% !important;
  margin: 0 !important;
  opacity: 1 !important;
  overflow: hidden !important;
}


body{
  margin: 0; 
  background-color: #71ADD0;
  font-family: 'Ubuntu';
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
}

